{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms Application</title>
</head>
<body>
    <h1><em>Users List!<em></em></h1>
    <div >
            {% if users %}
            <table>
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </thead>

                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                     <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>NO USERS FOUND!</p>
            {% endif %}
        </div>
</body>
</html>